@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700;800;900&display=swap");

html {
  font-size: 0.625em;
}
body {
  font-size: 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonts-sans);
  background: var(--colors-black);
  color: var(--colors-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next,
#__next [data-rk] {
  height: 100%;
}
