/* @import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@300;400;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

html {
  font-size: 0.625em;
}
body {
  font-size: 1.5rem;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--fonts-sans);
  background: var(--colors-black);
  color: var(--colors-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 460px) {
  html {
    font-size: 2.2vw;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font: inherit;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next,
#__next [data-rk] {
  height: 100%;
}

/* .test { */
/*   container-type: size; */
/* } */
/* @container (min-width: 100px) { */
/*   .test-c { */
/*     background: green; */
/*   } */
/* } */
